@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width {
  max-width: 1920px;
  margin: 0 auto;
}
.link {
  position: relative;
  text-decoration: none;
}

.link::before {
  content: '';
  position: absolute;
  width: 100%;
  display: block;
  height: 2px;
  border-radius: 2px;

  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  background: linear-gradient(to right, #00d2ff, #cde77f);
}
